{% extends "base.html" %}

{% block title %}Author Login{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

    <div class="row">

        <div class="offset-md-2 col-md-8">

            {% include '_flashmessages.html' %}

            {#        <h4>Author Login</h4>#}

            {% from "_formhelpers.html" import render_field %}
            <form method="POST" action="{{ url_for('.login') }}" role="form">

                {{ form.hidden_tag() }}

                {{ render_field(form.email, class='form-control') }}
                {{ render_field(form.password, class='form-control') }}

                <button type="submit" class="btn btn-primary">Login</button>
{#                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Reset Password#}
{#                </button>#}
                <a href="{{ url_for('.send_password_reset') }}" class="btn btn-warning" role="button">Reset Password</a>
            </form>



        </div>

    </div>



{% endblock %}

{#<div class="modal fade" id="myModal" role="dialog">#}
{#                <div class="modal-dialog modal-sm">#}
{##}
{#                    <div class="modal-content">#}
{#                        <h4 class="modal-title">Reset Password</h4>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <form method="POST" action="{{ url_for('.reset') }}" role="form">#}
{#                        {{ form.hidden_tag() }}#}
{#                        {{ render_field(form.email, class='form-control') }}#}
{#                        <button type="submit" class="btn btn-primary">Submit</button>#}
{#                    </form>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
{#            </div>#}