{% extends "base.html" %}

{% block title %}Send Password reset{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

<div class="offset-md-2 col-md-8">

        {% include '_flashmessages.html' %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('.send_password_reset')}}" role="form">

            {{ form.hidden_tag() }}

            {{ render_field(form.email, class='form-control')}}

            <button type="submit" class="btn btn-primary">Submit</button>

            </form>

    </div>

</div>
{% endblock %}